body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.filter-container {
    margin-bottom: 20px;
    text-align: center;
}

.filter-container label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-container input[type="radio"] {
    display: none;
}

.clear-filter-button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-filter-button:hover {
    background-color: #c82333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #424242;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.textColumn {
    padding: 10px;
}

.nameText, .statusText, .typeText {
    margin: 5px 0;
}

.profileImage {
    margin-left: auto;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff9898;
    color: #31363F;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

.button-container button:hover {
    background-color: #be7878;
}
